/instance/mydropboxapp.db
node_modules/
.env
*.pyc
__pycache__/
*.sqlite3
*.db
*.log
*.pyo
*.pyd
*.swp
*.DS_Store
*.egg-info/
*.vscode/
*.idea/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.dist-info/
*.egg
*.zip
*.tar.gz
*.rar
*.tar.bz2
*.tar.xz