[Unit]
Description=MyDropboxApp Flask Application
After=network.target

[Service]
Type=simple
User=tu_usuario
WorkingDirectory=/ruta/a/tu/proyecto/actual
Environment=PATH=/ruta/a/tu/proyecto/actual/venv/bin
Environment=FLASK_APP=run.py
Environment=FLASK_ENV=production
ExecStart=/ruta/a/tu/proyecto/actual/venv/bin/gunicorn --workers 3 --bind unix:mydropboxapp.sock -m 007 run:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 